MYSQL_ROOT_PASSWORD=root
MYSQL_USER=dit
MYSQL_PASSWORD=dit
MYSQL_PORT=3306
MYSQL_HOST=mysql
MYSQL_LIVRES_DB_NAME=livres_db
MYSQL_UTILISATEURS_DB_NAME=utilisateurs_db
MYSQL_EMPRUNTS_DB_NAME=emprunts_db

SERVICE_LIVRES_PORT=8001
SERVICE_UTILISATEURS_PORT=8002
SERVICE_EMPRUNTS_PORT=8003
SERVICE_STATISTIQUES_PORT=8004
SERVICE_RECOMMANDATION_PORT=8005
FRONTEND_PORT=8080

DVC_REMOTE_URL=gdrive://1TCrV1RVH_C-XG_aIAhAonyIrRrnZkpmZ
DVC_GDRIVE_SERVICE_ACCOUNT_FILE=../dit-librairie-245dd53f7c43.json
